@import url('https://fonts.googleapis.com/css2?&family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Montserrat&display=swap');

:root {
    --main-vert-margin: 30px;
    --primary-color: #a35f22;
    --secondary-color: #eedccd;
    --tertiary-color: #5fd1e0;
    --img-height: 100px;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    background: rgb(243, 243, 243);
}

h1, h2 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}


/* HEADER */

header, header div, header nav {
    display: flex; flex-wrap: wrap;
    align-items: center;
}

header {
    background: var(--primary-color);
}

header div {
    height: 100px;
    flex: 1 1 70vw;
    justify-content: center;
    align-items: center;
}

header nav {
    height: 60px;
    flex: 1 1 100vw;
    justify-content: space-evenly;
    align-items: center;
}


/* MAIN */

main {
    display: flex; flex-direction: column;
    gap: 30px;
    margin: var(--main-vert-margin) 0 calc(var(--main-vert-margin) + 10px);
}

main h2 {
    display: inline-block;
    color: var(--tertiary-color);
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 2px solid;
}

.about {
    display: flex; flex-direction: column;
    align-items: center;
}

.about h2 {
    text-align: center;
}

.about-content {
    display: flex; flex-wrap: wrap;
    max-width: 1000px;
}

.about-content div {
    flex: 1 1;
}

.about-content .bio {
    text-align: center;
    line-height: 1.4;
}

.about-content .bio p {
    margin-bottom: 7px;
}

.about-content .img-container {
    display: none;
}

.about-content .img-container img {
    width: 100%;
}

.examples {
    display: flex; flex-wrap: wrap;
    gap: 30px 40px;
}

.examples article {
    flex: 1 1 100vw;
}

.examples article .img-container {
    height: var(--img-height);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 12px;
    background-size: cover;
}

.examples .showpiece .img-container {
    height: calc(var(--img-height) + 50px);
}

.img-container a {
    display: block;
    width: 100%;
    height: 100%;
}

.img-container a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.examples h4 {
    width: 300px;
    border-bottom: 1px solid gray;
    padding-right: 20px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    font-weight: normal;
}

/* individual example images */

#lightbox {
    background-image: url(../images/lightbox.png);
}

#note-taker {
    background-image: url(../images/note-taker.png);
}

#deep-thoughts {
    background-image: url(../images/placeholder.jpeg);
}

#ecommerce {
    background-image: url(../images/placeholder.jpeg);
}

#weather-dashboard {
    background-image: url(../images/weather-dashboard.png);
    background-position-y: 20%;
}

#password-generator {
    background-image: url(../images/password-generator.png);
    background-size: 120%;
    background-position: top center;
}

#team-profile {
    background-image: url(../images/team-profile-generator.png);
}

.placeholder-img {
    background-image: url(../images/placeholder.jpeg);
}
/* placeholder image is a free stock image provided by pexels.com */
/* https://www.pexels.com/photo/yellow-bokeh-lights-1669071/ */


/* FOOTER */

footer {
    background: var(--primary-color);
    display: flex; flex-wrap: wrap;
    padding: 10px 0;
}

footer div {
    display: flex;
    justify-content: center; align-items: top;
    flex: 1 1 100vw;
}

address {
    font-style: normal;
}


/* MEDIA QUERIES */

@media screen and (min-width: 575px) {
    main {
        margin: var(--main-vert-margin) 4vw calc(var(--main-vert-margin) + 10px);
    }
}

@media screen and (min-width: 768px) {
    header div {
        flex: 1 1 0;
        justify-content: flex-start;
    }

    header div h1 {
        margin-left: 9vw;
    }

    header nav {
        flex: 1 1 0;
    }
    /* header will unwrap so the title and nav are next to each-other */

    .about-content .bio {
        text-align: right;
        border-right: 2px solid var(--tertiary-color);
        padding-right: 20px;
        margin-right: 20px;
    }

    .about-content .img-container {
        display: block;
    }

    .examples article {
        flex: 1 1 40vw;
    }
    
    .examples .showpiece {
        flex: 2 1 100vw;
    }
    /* work examples wrap into two columns */

    .examples article:last-child:not(.showpiece) {
        flex: 0 1 calc(50% - 20px);
    }
    /* the pixel number here needs to be half the horizontal gap */

    footer {
        gap: 50px;
    }
    
    footer div {
        flex: 1 1 0vw;
    }

    footer div:first-child {
        justify-content: flex-end;
    }

    footer div:last-child {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 980px) {
    :root {
        --img-height: 120px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --img-height: 170px;
    }
}