* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header, header div, header nav {
    display: flex; flex-wrap: wrap;
}

header {
    background: rosybrown;
    margin-bottom: 20px;
}

header .img-container {
    flex: 0 0 100px;
}

header .img-container img {
    width: 100%;
}

header div {
    height: 100px;
    flex: 1 1 70vw;
    align-items: center;
}

header div h1 {
    margin-left: 9vw;
}

header nav {
    flex: 1 1 100vw;
    justify-content: space-evenly;
    align-items: center;
}


/* MAIN */

main {
    display: flex; flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.examples {
    display: flex; flex-wrap: wrap;
}

.examples article {
    flex: 1 1 100vw;
    margin: 15px;
    border: 1px solid black;
}

.examples article img {
    width: 100%; height: 100px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    header div {
        flex: 1 1 0;
    }

    header nav {
        flex: 1 1 0;
    }
    /* header will unwrap so the title and nav are next to each-other */

    .examples article {
        flex: 1 1 40vw;
    }
    
    .examples article:first-child {
        flex: 2 1 100vw;
    }

    .examples article:last-child {
        flex: 0 1 calc(50% - 30px);
    }
}