:root {
    --main-vert-margin: 30px;
    --primary-color: #76390e;
    --secondary-color: gainsboro;
    --tertiary-color: #5fd1e0;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GENERAL */

h2 {
    color: var(--tertiary-color);
}


/* HEADER */

header, header div, header nav {
    display: flex; flex-wrap: wrap;
    align-items: center;
}

header {
    background: var(--primary-color);
}

header .img-container {
    flex: 0 0 100px;
}

header .img-container img {
    width: 100%;
}

header div {
    height: 100px;
    flex: 1 1 70vw;
    justify-content: center;
    align-items: center;
}

header nav {
    height: 60px;
    flex: 1 1 100vw;
    justify-content: space-evenly;
    align-items: center;
}

h1, header a {
    color: var(--secondary-color);
}


/* MAIN */

main {
    display: flex; flex-direction: column;
    gap: 30px;
    margin: var(--main-vert-margin) 0;
}

.examples {
    display: flex; flex-wrap: wrap;
    gap: 30px;
}

.examples article {
    flex: 1 1 100vw;
    border: 1px solid black;
}

.examples article img {
    width: 100%; height: 100px;
}

.examples article:first-child img {
    height: 140px;
}


/* FOOTER */

footer {
    background: var(--primary-color);
    display: flex; flex-wrap: wrap;
}

footer div {
    display: flex;
    justify-content: center; align-items: center;
    flex: 1 1 100vw;
    height: 40px;
}

footer div:last-child {
    justify-content: space-evenly;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    header div {
        flex: 1 1 0;
        justify-content: flex-start;
    }

    header div h1 {
        margin-left: 9vw;
    }

    header nav {
        flex: 1 1 0;
    }
    /* header will unwrap so the title and nav are next to each-other */

    main {
        margin: var(--main-vert-margin) 40px;
    }

    .examples article {
        flex: 1 1 40vw;
    }
    
    .examples article:first-child {
        flex: 2 1 100vw;
    }
    /* work examples wrap into two columns */

    .examples article:last-child {
        flex: 0 1 calc(50% - 15px);
    }
    /* the pixel number here needs to be half the gap */
    
    footer div {
        flex: 1 1 0vw;
    }

    footer div:last-child {
        flex: 3 1 0vw;
    }
}